/* 
reset css
tailles, marges, padding, link
*/

html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
}
body{
    font: 1.6rem sans-serif; /* 16px */
    margin: 0;  
}
h1,h2,h3,h4,p,ol,ul,li,figure,dd, a{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                
                                                    Theme

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Palette graphique */
:root{
    --color-html: rgb(70, 1, 148);
    --color-header-text: #fff;
    --color-primary: #5298c6;
    --color-alert: #c0392b;
    --color-success: #068a22;
    --color-warning: rgba(253, 203, 110,1.0);
}
/* variable appelée */
/*Theme*/
html{
    background-color: var(--color-html);
}
main{
    border: solid #222;
    background-color: #fff;
}
nav{
    margin: 0rem auto 0rem;
    max-width: 100rem;
    background-color: rosybrown;
    padding: 0.5rem;
}

nav ul li{
    display: inline-block;
    
}
header{
    background-color: #109bdb;
    border: solid #fff;
    line-height: 6.0rem;
    max-width: 110rem;
    margin: 0rem auto 0rem;  /*centre le block de main */
    padding: 1rem;
    display: block;
}
section{
    display: block;
    border: solid red 0.5rem;
    margin: 5rem;
    overflow: hidden;
}
main{
    max-width: 100rem;
    margin: 0rem auto;  /*centre le block de main */
    overflow: hidden;  /* met footer en bas et redresse l'image */
}
main ul li img{
    display: block;
    width: 100%;
}
main ul{
    border: solid #222;
    padding: 0.5rem;
    display:grid;
    grid-template-columns:repeat(2, 1fr);         /*diplay grid mets en cases / 1fr=fraction en 4*/
    grid-gap: 1rem;     /* écarte les images de 1rem */
}
section:nth-child(3) figure img:first-child{
    max-width: 30%;
    display: block;
    float: right;
}
section:nth-child(3) figure img:last-child{
    max-width: 100%;
}