@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
/* 
reset css
tailles, marges, padding, link
*/

html{ /* sélecteur propriété valeur */
    font-size: 62.5%;  /* 1.000rem root em 10px */
}
body{
    font: 1.6rem sans-serif; /* 16px */
    margin: 0;  
}
h1,h2,h3,h4,p,ol,ul,li,figure,dd, a{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                
                                                    Theme

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* Palette graphique */
:root{
    --color-html:rgba(65, 165, 123, 0.918);
    --color-screen_border: #11585c;
    --color-header-text: #fff;
    --color-primary: #5298c6;
    --color-alert: #c0392b;
    --color-success: #068a22;
    --color-warning: rgba(253, 203, 110,1.0);
}
/* variable appelée */
/*Theme*/
html{
    /*background-color: var(--color-html);*/
    background:#ccc url('http://fc01.deviantart.net/fs70/f/2011/057/f/b/dr_lab_2_with_the_tube_by_nerdmaso-d3afg7d.jpg') no-repeat fixed center center / cover;
}
main{
    border: solid #222 2px;
    border: solid var(--color-screen_border) 0.5rem;
    background-color: var(--color-html);
    
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                Barre de navigation
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
nav{
    border: solid #222 2px;
    margin: 0rem auto 0rem;
    max-width: 100rem;
    background-color: rgba(214, 221, 221, 1);
    padding: 0.5rem;
    font: 1.6rem 'Irish Grover', sans-serif;
}

nav ul li{
    display: inline-block;
    
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                Barre de navigation
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                   Header
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
header{
    font-family: 'Eater', cursive;
    background-color: rgba(214, 221, 221, 0.5);
    border: solid #fff;
    line-height: 6.0rem;
    max-width: 110rem;
    margin: 0rem auto 0rem;  /*centre le block de main */
    padding: 0rem;
    display: block;
}
header h1{
    text-align: center;
    
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                   Header
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                              Paramètres de la page
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
section{
    display: block;
    /*border: solid red 0.5rem;*/
    margin: 2rem;
    overflow: hidden;
    font: 1.6rem 'Irish Grover', sans-serif;
}
main{
    max-width: 70rem;
    margin: 0rem auto;  /*centre le block de main */
    overflow: hidden;  /* met footer en bas et redresse l'image */
}
main ul li img{
    display: block;
    width: 100%;
}
h1,h2,h3{
    text-transform: uppercase;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                              Paramètres de la page
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
section:first-child h2{
    text-align: center;
}
section:first-child p img{
    padding: 0 3rem 0 0.5rem;
    display: inline;
    float: left;
    max-width: 100%;
    width: 35%;
}
section:first-child p{
    margin-right: 0rem auto 0rem;
    padding: 0 5rem 0rem 2rem;
    display: block;
    padding-top: 0.5rem;
    
    overflow:auto;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 2
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
section:nth-child(2) h2{
    text-align: center;
}
section:nth-child(2) h3{
    margin-left: 2rem;
}
section:nth-child(2) p{
    margin-right: 3rem;
    padding: 0 20rem 3rem 0.5rem;
    display: block;
    padding-top: 1rem;
    margin-left: 0px;
    overflow:auto;
}
section:nth-child(2) ul{
    margin: 2rem;
    border: solid #222;
    padding: 1rem;
    display:grid;
    grid-template-columns:repeat(2, 1fr);         /*diplay grid mets en cases / 1fr=fraction en 4*/
    grid-gap: 1rem;     /* écarte les images de 1rem */
    background-color: var(--color-screen_border);
}
section:nth-child(2) p:last-child{
    margin: 0rem auto 0rem;
    padding: 0 5rem 0rem 2rem;
    display: block;
    padding-top: 0.5rem;
    
    overflow:auto;
}
section:nth-child(2) p:last-child img{
    max-width: 100%;
    width: 50%;
    padding: 0 3rem 0 0.5rem;
    display: inline;
    float: left;
    
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 2
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 3
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
section:nth-child(3) h2{
    text-align: center;
}
section:nth-child(3) p img{
    padding: 0 7rem 0 3rem;
    display: inline;
    float: left;
    max-width: 100%;
    width: 35%;
}
section:nth-child(3) p{
    margin-right: 20rem;
    padding: 0 20rem 3rem 0.5rem;
    display: block;
    padding-top: 5rem;
    margin-left: 0px;
    overflow:auto;
}
section:nth-child(3) figure {
    margin: 2rem;
}
section:nth-child(3) figure img{
    max-width: 100%;
    width: 40%;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 3
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 4
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
section:last-child h2{
    text-align: center;
}
section:last-child p img{
    padding: 0 7rem 0 3rem;
    display: inline;
    float: right;
    max-width: 100%;
    width: 55%;
}
section:last-child p{
    margin-right: 10rem;
    padding: 0 20rem 3rem 0.5rem;
    display: block;
    padding-top: 5rem;
    margin-left: 0px;
    overflow:auto;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                    Section 4
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
